.circle {
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      background: #d8d8d8;
      text-align: center;
      line-height: 100px;
      font-size: 25px;
      color: #8f8d8f;
      position: relative;
}

#add25 {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: #1f1d1f;
      text-align: center;
      line-height: 20px;
      font-size: 10px;
      color: #bebcbe;
      position: absolute;
      margin-left: 35px;
      display: none;
}

#add10 {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: #1f1d1f;
      text-align: center;
      line-height: 20px;
      font-size: 10px;
      color: #bebcbe;
      position: absolute;
      margin-left: 35px;
      display: none;
}

#add5 {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: #1f1d1f;
      text-align: center;
      line-height: 20px;
      font-size: 10px;
      color: #bebcbe;
      position: absolute;
      margin-left: 35px;
      display: none;
}

#add1 {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: #1f1d1f;
      text-align: center;
      line-height: 20px;
      font-size: 10px;
      color: #bebcbe;
      position: absolute;
      margin-left: 35px;
      display: none;
}
.coin {
  margin-bottom: 5px;
}

#box {
  border: 3px solid #e2e0e2;
  background: #fbf9fb;
  width: 180px;
  height: 30px;
  text-align: right;
  margin-top: 15px;
}

.btn {
  margin-top: 10px;
  color: #888688;
  background: #232123;
}
.btn:hover {
  background: #fbf9fb;
}
.btn:active {
  background: #232123 !important;
}

.btn:focus {
  background: #232123 !important;
}
#clear {
  display: none;
}
